/* Variables */
/* Blog page styles */
@media (max-width: 991.98px) {
  .block-13 img {
    height: 155px !important;
    width: 155px !important; } }

.block-14 .slider-3 .slick-slide {
  width: 630px;
  margin-right: 30px; }

@media (max-width: 1399.98px) {
  .block-14 .slider-3 .slick-slide {
    width: 540px; } }

@media (max-width: 1199.98px) {
  .block-14 .slider-3 .slick-slide {
    width: 450px; } }

@media (max-width: 991.98px) {
  .block-14 .slider-3 .slick-slide {
    margin-right: 0px; } }
