/* Variables */
/* Contacts page styles */
.block-25 .GoogleMap {
  height: 38.3vw;
  max-height: 615px; }

.block-25 .formContainer .contactForm {
  width: 425px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1; }

@media (max-width: 991.98px) {
  .block-25 .GoogleMap {
    height: 50vw;
    max-height: 100%; }
  .block-25 .formContainer .contactForm {
    width: 100%;
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%); } }

@media (max-width: 767.98px) {
  .block-25 .GoogleMap {
    height: 100vw; } }
