@import "variables.scss";

/* About page styles */

.block-20{
	overflow: hidden;
	.video-btn{
		position: absolute;
		top:50%;
		left:50%;
		transform: translateY(-50%) translateX(-50%);
		height: 80px;
		width: 80px;
		background: $black;
		border-radius: 50%;
	}
}

.block-21{
	.block-21-header{ 
		font-weight: 500;
		font-size: 64px;
		line-height: 70px;
		letter-spacing: -2px;		
	}
}

.block-22{
	.client-block{
		height: 210px;
	}
}
