@import "variables.scss";

/* Pricing page styles */

.block-9{
	.pricing-options{ 
		input[type='checkbox']{
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;		
			margin: 0 !important;
			padding: 3px;
			width: 54px;
			height: 30px;
			border-radius: 30px;
			background: $accent-green-4;
			cursor: pointer;
			&:after{
				content:'';
				height: 24px;
				width: 24px;
				border-radius: 50%;
				background: $white;
				display: block;
				transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
			}
			&:checked{
				&:after{
					transform: translateX(100%);
				}
			}
		}
		.pricing-block{
			.inner{
				border: 1.5px solid $grey-dark-1;
				border-radius: 10px;
			}
		}
		&.yearly{
			.pricing-block{
				&.yearly{
					display: block;
				}
				&.monthly{
					display: none;
				}
			}
		}
		&.monthly{
			.pricing-block{
				&.monthly{
					display: block;
				}
				&.yearly{
					display: none;
				}
			}
		}		
	}
}
