@import "variables.scss";

/* Resources Library page styles */

.block-11{
	@media(max-width: 576.98px){
		form{
			input[type='text']{
				width: 100%;
			}
			button{
				width: 100%;
			}
		}
		img{
			height: 170px !important;
			width: 170px !important;					
		}			
	} 
}

.block-12{
	.slider-2{
		.slick-slide{
			width: 410px;
		}
	}
	@media(max-width: 1399.98px){
		.slider-2{
			.slick-slide{
				width: 350px;
			}
		}		
	}
	@media(max-width: 1199.98px){
		.slider-2{
			.slick-slide{
				width: 450px;
			}
		}		
	}
	@media(max-width: 991.98px){
		.slider-2{
			.slick-slide{
				width: 330px;
			}
		}		
	}
}
