/* Variables */

$font_first: 'Inter', sans-serif;

$font_size: 16px;

$white: #ffffff;
$black: #000000;

$grey-dark-6: #000000;
$grey-dark-5: rgba(0, 0, 0, 0.8);
$grey-dark-4: rgba(0, 0, 0, 0.5);
$grey-dark-3: rgba(0, 0, 0, 0.3); 
$grey-dark-2: rgba(0, 0, 0, 0.1);
$grey-dark-1: rgba(0, 0, 0, 0.05);
$grey-dark-0: rgba(0, 0, 0, 0.025);

$grey-light-5: rgba(255, 255, 255, 0.7);
$grey-light-4: rgba(255, 255, 255, 0.5);
$grey-light-3: rgba(255, 255, 255, 0.3);
$grey-light-2: rgba(255, 255, 255, 0.2); 
$grey-light-1: rgba(255, 255, 255, 0.1); 


$accent-indigo-5: #5658CB;
$accent-indigo-4: #5F62E2; 
$accent-indigo-3: rgba(95, 98, 226, 0.8);
$accent-indigo-2: rgba(95, 98, 226, 0.3);
$accent-indigo-1: rgba(95, 98, 226, 0.1);


$accent-green-5: #26A482;
$accent-green-4: #2AB691;
$accent-green-3: rgba(42, 182, 145, 0.8);
$accent-green-2: rgba(42, 182, 145, 0.3);
$accent-green-1: rgba(42, 182, 145, 0.1);






